@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Columns Style Sheet
   Author: Brandon Santizo
   Date:   11/20/19

   Filename:         dlr_columns2.css

*/



/* Column Styles */
/* step 22 */
@media screen and (min-width: 641px){
   p{
      column-count: 3;
      column-gap: 20px;
      -moz-column-rule: 1px solid black;
      -webkit-column-rule: 1px solid black;
      column-rule: 1px solid black;
   }
}




